@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Poppins", sans-serif;
}
body main {
  position: relative;
  z-index: 10;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.swoop {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
}
.swoop img {
  width: 100%;
  height: 50%;
  max-height: 250px;
}

.hero {
  display: grid;
  grid-template-areas: "header header header image" "text text text image";
  width: 75%;
  max-width: 1280px;
  margin: 5rem auto;
}
.hero h1 {
  place-self: end start;
  grid-area: header;
  font-size: 2.125rem;
  font-weight: 700;
}
.hero h1 span {
  display: inline-block;
  width: fit-content;
  margin-left: 0.5rem;
  animation: 8s ease 3s infinite running wave;
  transform-origin: bottom right;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(40deg);
  }
  12% {
    transform: rotate(60deg);
  }
  15% {
    transform: rotate(20deg);
  }
  18% {
    transform: rotate(60deg);
  }
  20% {
    transform: rotate(20deg);
  }
  23% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(0deg);
  }
}
.hero .hero-text {
  max-width: 70ch;
  grid-area: text;
  margin-right: 5rem;
}
.hero .hero-text p {
  font-size: 1rem;
  font-weight: 600;
}
.hero .hero-image {
  grid-area: image;
  place-self: center end;
  max-width: 318px;
}
.hero .hero-image .selfie {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.hero .hero-image .icon-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.hero .hero-image .icon-row .icon {
  width: 40px;
  height: 40px;
}

.down-arrow {
  flex-grow: 1;
  display: block;
  position: relative;
}
.down-arrow a {
  position: absolute;
  inset: 0;
  margin: auto;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.down-arrow img {
  width: 100%;
  height: 100%;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
#projects h1 {
  margin-left: 2rem;
  font-size: 2.75rem;
  font-weight: 700;
}
#projects .wrapper {
  padding-bottom: 1rem;
  overflow-x: auto;
  overflow-y: visible;
  scroll-snap-type: x mandatory;
}
#projects .project-carousel {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
}
#projects .project-carousel .project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 32px;
  width: calc(45ch + 2rem);
  padding: 1rem;
  margin: 0px 1rem;
  position: relative;
  scroll-snap-align: start;
  scroll-margin-left: 2rem;
}
#projects .project-carousel .project-card div:first-of-type {
  display: contents;
}
#projects .project-carousel .project-card a:first-of-type:not(.header) {
  display: block;
  margin: auto;
  max-height: 25%;
}
#projects .project-carousel .project-card .header {
  text-decoration: none;
  color: black;
}
#projects .project-carousel .project-card img {
  width: 100%;
  height: 100%;
}
#projects .project-carousel .project-card .project-card-body h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-block-end: 0px;
}
#projects .project-carousel .project-card .project-card-body p {
  display: block;
  font-size: 0.875rem;
  margin-block: 1rem;
}
#projects .project-carousel .project-card .project-tags {
  display: flex;
  flex-wrap: wrap;
}
#projects .project-carousel .project-card .project-tags .tag {
  margin-inline-end: 0 !important;
  margin-top: 0.5rem;
  font-size: 0.625rem;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  white-space: nowrap;
}
#projects .project-carousel .project-card .project-tags .tag:not(.tag:first-of-type) {
  margin-inline-start: 0.5rem;
}
#projects .project-carousel .project-card .project-tags .tag[data-tag=backend] {
  background-color: #C5F9D7;
}
#projects .project-carousel .project-card .project-tags .tag[data-tag=frontend] {
  background-color: #F7D486;
}
#projects .project-carousel .project-card .project-tags .tag[data-tag=service] {
  background-color: #F27A7D;
}
#projects .project-carousel .project-card:first-of-type {
  margin-left: 2rem;
}
#projects .project-carousel .project-card:last-of-type {
  margin-right: 2rem;
}

#skills {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#skills .thanks {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
#skills .thanks img {
  margin: 0 auto;
  background: #fff;
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding: 1rem;
}
#skills .thanks h1 {
  font-size: 1.75rem;
}
#skills h1 {
  margin-left: 2rem;
  font-size: 2.75rem;
  font-weight: 700;
}
#skills .skills-icons {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  transform: translateX(0%);
  transition: transform 500ms ease;
}
#skills .skills {
  width: 100%;
}
#skills .skills-type-selector {
  margin: 11vh auto 1vh auto;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 700px;
  width: 50%;
  white-space: nowrap;
  height: 3rem;
}
#skills .skills-type-selector div {
  display: inline-flex;
  z-index: 2;
  width: fit-content;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  cursor: pointer;
}
#skills .skills-type-selector span {
  display: inline-block;
  z-index: 1;
  position: absolute;
  border-radius: 5rem;
  border: 1px solid white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(119deg, #C5F9D7 0%, #F7D486 42%, #F27A7D 100%);
  background-size: 300%;
  background-position-x: left;
  transform: translateX(0%);
  transition: transform 300ms ease, background-position 300ms ease;
}
#skills .grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  max-width: 75%;
  width: fit-content;
  height: 160px;
  margin: 3rem auto;
}
#skills .grid div {
  display: flex;
  flex-direction: column-reverse;
  grid-row: span 2;
  min-height: 0;
}
#skills .grid div a {
  width: 100%;
  height: 50%;
  position: relative;
}
#skills .grid div a img {
  width: 100%;
  height: 100%;
}
#skills .grid div a::after {
  content: attr(data-name);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms ease;
  background: rgba(100, 100, 100, 0.95);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  white-space: nowrap;
}
#skills .grid div a:hover::after, #skills .grid div a:focus::after {
  opacity: 1;
  transition-delay: 500ms;
}
#skills .grid div:nth-of-type(2n) {
  flex-direction: column;
}
#skills .grid.frontend {
  grid-template-columns: repeat(10, auto);
}
#skills .grid.backend {
  grid-template-columns: repeat(7, auto);
}
#skills .grid.backend div {
  flex-direction: column;
}
#skills .grid.backend div:nth-of-type(2n) {
  flex-direction: column-reverse;
}
#skills .grid.tools {
  grid-template-columns: repeat(8, auto);
}

@media only screen and (max-width: 768px) {
  main {
    scroll-snap-type: none !important;
  }

  #home, #projects {
    height: auto;
  }

  #home h1 {
    margin-block: 1rem;
  }

  .down-arrow {
    display: none;
  }

  #projects {
    margin-bottom: 2rem;
  }
  #projects .project-card {
    width: 75vw !important;
  }

  .hero {
    margin-top: 1rem;
    padding: 1rem;
    grid-template-areas: "header" "image" "text";
  }
  .hero .hero-image {
    place-self: center start;
  }
  .hero .hero-text {
    margin-right: auto;
  }

  #skills {
    overflow: hidden;
  }
  #skills .thanks {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  #skills .thanks h1 {
    font-size: 1.5rem;
    margin: 0;
  }
  #skills h1 {
    padding-top: 0;
    margin-block: 0.25rem;
  }
  #skills .wrapper {
    overflow: hidden;
  }
  #skills .skills-icons {
    height: 300%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(0%);
    overflow: hidden;
  }
  #skills .skills {
    height: 100%;
    overflow: hidden;
  }
  #skills .skills-type-selector {
    margin: auto;
    flex-direction: column;
    width: fit-content;
    height: 100%;
  }
  #skills .skills-type-selector div {
    display: inline-flex;
    z-index: 2;
    width: fit-content;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    align-items: center;
    cursor: pointer;
  }
  #skills .skills-type-selector span {
    background-image: linear-gradient(29deg, #C5F9D7 0%, #F7D486 42%, #F27A7D 100%);
    background-position-y: top;
    transform: translateY(0%);
    border-radius: 5rem;
  }
  #skills .grid {
    display: grid;
    grid-template-columns: repeat(2, auto) !important;
    width: 50%;
    margin: 1.5rem auto;
    height: 85%;
  }
  #skills .grid div {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    grid-row: span 1;
    min-height: 0;
    overflow: visible;
  }
  #skills .grid div a {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: visible;
  }
  #skills .grid div a img {
    width: 100%;
    height: 100%;
  }
  #skills .grid div a::after {
    content: attr(data-name);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 300ms ease;
    background: rgba(100, 100, 100, 0.95);
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  #skills .grid div a:hover::after, #skills .grid div a:focus::after {
    opacity: 1;
    transition-delay: 500ms;
  }
  #skills .grid div:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  #skills .grid.frontend {
    grid-template-rows: repeat(10, auto);
  }
  #skills .grid.backend {
    grid-template-rows: repeat(7, auto);
  }
  #skills .grid.backend div {
    flex-direction: row-reverse;
  }
  #skills .grid.backend div:nth-of-type(2n) {
    flex-direction: row;
  }
  #skills .grid.tools {
    grid-template-rows: repeat(8, auto);
  }
}

/*# sourceMappingURL=style.css.map */
