---
import Layout from "../layouts/Global.astro";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import photo from "../assets/photo.jpg";
---

<Layout title="Graham's lil site" url="https://gvasquez.dev/">
  <main>
    <Nav />
    <div class="flex">
      <figure>
        <Image class="photo" src={photo} alt="Photo of me and my cat, Fritzy" />
        <figcaption>Me and my cat, Fritzy</figcaption>
      </figure>
      <div class="info">
        <div class="about">
          <h2>aboutMe :=</h2>
          <p>
            I'm a software engineer from Philadelphia (<b>Go birds</b> 🦅) with a
            love of building things that make people's lives <em>easier</em>.
            I've primarly worked in the web world, from crafting CSS to managing
            deployments in kubernetes. I definitely lean towards the backend,
            but I like to be flexible and help where it's needed.
          </p>
          <p>
            In my free time I enjoy boardgames (My current favorite is the <a
              href="https://contentiongames.com/games/slay/"
              target="_blank">Slay the Spire Boardgame</a
            >) and playing my guitar. I also have a love of mechanical keyboards
            (Linear switches are where it's at)
          </p>
          <p>
            The picture is of me and my cat Fritzy. He followed me home and is
            the sweetest little man I know.
          </p>
        </div>
        <div class="projects">
          <h2>currentProjects :=</h2>
          <div class="flex">
            <div class="terminal-card">
              <header>
                <h3>PHLask</h3>
              </header>
              <div>
                <p>
                  <a href="https://phlask.me" target="_blank">PHLask</a> is an application
                  that aims to make finding free resources easier. We recently completed
                  dev work on our v2 application that will allow people to search
                  for water, foraging, food, and clothing.
                </p>
              </div>
            </div>
            <div class="terminal-card">
              <header>
                <h3>PHL Code Club</h3>
              </header>
              <div>
                <p>
                  I co-organize a monthly meetup in Philadelphia called <a
                    href="https://phlcode.club"
                    target="_blank">PHL Code Club</a
                  >. Our focus is interactive sessions, but we also like to do
                  project showcases or more traditional talks from time to time.
                  It has been awesome to improve my communication and continue
                  learning while building a community of like minded people. It
                  has also given me opportunities to mentor and teach others
                  individually.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <dialog id="term-dialog">
      <div class="terminal-card">
        <header>
          <h4>TERMINAL</h4><button class="btn btn-error" id="close-term"
            ><b>x</b></button
          >
        </header>
        <div id="app"></div>
      </div>
    </dialog>
  </main>
</Layout>

<script>
  import { Shell } from "../terminal/terminal";
  const dialog: HTMLDialogElement | null =
    document.querySelector("#term-dialog");
  let shell: Shell;
  function openDialog() {
    dialog?.showModal();
    shell = new Shell("app", dialog);
  }

  function closeDialog() {
    shell?.unmount();
    dialog?.close();
  }

  document.querySelector("#open-term")?.addEventListener("click", openDialog);
  document.querySelector("#close-term")?.addEventListener("click", closeDialog);
</script>

<style>
  #term-dialog {
    padding: 0;
    color: var(--font-color);
    background-color: var(--background-color);
    width: 98dvw;
    height: 97dvh;
    .terminal-card {
      #app {
        padding: 0;
        height: calc(100% - var(--global-line-height) * 2);
        overflow: scroll;
      }
      overflow: hidden;
      height: 100%;
      header {
        width: 100%;
        height: calc(var(--global-line-height) * 2);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        button {
          padding: 0.25rem 0.5rem;
        }
      }
    }
    object[class="pdf"] {
      width: clamp(80%, 80%, 700px);
      height: 100%;
    }
  }

  .photo {
    aspect-ratio: 1 / 1;
    height: 100%;
  }

  figure {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 1rem 0 0 !important;
  }

  .info {
    width: 100%;
  }

  .flex {
    display: flex;
  }

  h2 {
    margin-bottom: 0.75rem !important;
  }

  .projects {
    .flex {
      .terminal-card {
        margin: 0 0.5rem;
        header {
          h3 {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @media (max-width: 1080px) {
    .projects {
      .flex {
        flex-direction: column;
        .terminal-card {
          margin: 0.5rem 0;
        }
      }
    }
  }

  @media (max-width: 900px) {
    main {
      max-width: 500px;
    }
    .flex {
      flex-direction: column;
    }
    .info {
      width: 100%;
    }
    figure {
      margin: 0 !important;
    }
  }
</style>

<style is:global lang="scss">
  .markdown {
    margin: 0.5rem;
    padding: 1rem;
    h1 {
      color: var(--red);
    }

    h2 {
      color: var(--peach);
    }

    p {
      color: var(--lavender);
    }

    a {
      color: var(--sapphire);
    }

    img {
      width: clamp(100px, 80%, 400px) !important;
      max-width: unset !important;
    }

    background-color: var(--mantle);
  }
</style>
