---
import resume from "../assets/resume.pdf";
---

<nav class="terminal-nav">
  <span class="terminal-logo">
    <span class="logo terminal-prompt">
      <a href="/#" id="open-term">gvasquez.dev</a>
    </span>
  </span>
  <div class="terminal-menu">
    <ul>
      <li>
        <a class="menu-item" href="/blog">blog</a>
      </li>
      <li>
        <a class="menu-item" href={resume} target="_blank">resume</a>
      </li>
      <li>
        <a class="menu-item" href="https://github.com/gv14982" target="_blank"
          >github</a
        >
      </li>
      <li>
        <a
          class="menu-item"
          href="https://www.linkedin.com/in/graham-vasquez/"
          target="_blank">linkedin</a
        >
      </li>
      <li>
        <a class="menu-item" href="mailto:graham@gvasquez.dev" target="_blank"
          >email me</a
        >
      </li>
    </ul>
  </div>
</nav>

<style is:global>
  /* God this is ugly lol */
  @media screen and (max-width: 650px) {
    .terminal-nav {
      span {
        margin-top: calc(var(--global-space) * 2) !important;
      }
    }
    @media (min-width: 480px) {
      .terminal-nav {
        align-items: flex-start !important;
      }
      .terminal-menu {
        ul {
          flex-direction: column !important;
          align-items: flex-end !important;
        }
        li:last-child {
          margin-right: 2em !important;
        }
      }
    }
  }
</style>
