@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #2d2d2d;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

a {
  color: blue;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 1%;
}

.more-rounded {
  border-radius: 3rem;
}

.shadow {
  box-shadow: 0 5px 4px -4px #e8e8e8;
}

.social-icon {
  width: 32px;
  height: 32px;
}

.headshot {
  max-width: 400px;
  max-height: 400px;
}

.card-title {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.card-subtitle {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: italic;
}

.card-text {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.project-image {
  width: 49%;
  height: auto;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .personal {
    flex-direction: column;
  }
  
  .headshot-div {
    padding-left: 20%;
  }

  .headshot {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 768px) {
  .headshot-div {
   padding-left: 20%; 
  }

  .navbar {
    padding-left: 25%;
  }

  .card-title {
    font-size: 30px;
  }
  .card-subtitle {
    font-size: 21px;
  }
  .card-text {
    font-size: 16px;
  }
}

@media (max-width: 625px) {
  .navbar {
    padding-left: 5%;
  }
}