@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #2d2d2d;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  color: #e8e8e8;
}

a {
  color: #2d2d2d;
}

.app {
  overflow: hidden;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 1%;
}

.more-rounded {
  border-radius: 3rem;
}

.shadow {
  box-shadow: 0 5px 4px -4px #e8e8e8;
}

.social-icon {
  width: 32px;
  height: 32px;
}

.headshot {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}

.card-title {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.card-subtitle {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-style: italic;
}

.card-text {
  color: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.projects {
  scroll-snap-type: mandatory;
}

.project {
  scroll-snap-align: start;
}

.project-image {
  width: 100%;
  height: auto;
}

.card {
  background-color: #7c9d97;
}

.form-group label {
  color: #e8e8e8;
}

.contact {
  color: #2d2d2d;
  position: fixed;
  border-style: hidden;
  border-radius: 2vw;
  padding: 1%;
  width: 20vw;
  height: auto;
  margin-top: 27vh;
  z-index: 2;
  background-color: #744c40;
  overflow: hidden;
}

.thanks {
  position: absolute;
  margin-right: 1vw;
  z-index: 3;
  border-radius: 2%;
}

.thanks p {
  padding: 5%;
}

.contact-button {
  position: fixed;
  z-index: 2;
  width: 6vw;
  height: 6vw;
  margin-top: 40vh;
  border-style: hidden;
  border-right-style: solid;
  border-radius: 40% 0% 0% 40%;
  text-align: center;
  color: #e8e8e8;
  line-height: 4.5vw;
  background-color: #744c40;
  font-size: 1.2vw;
  padding: 0.5vw;
}

#submit {
  margin-bottom: 1vw;
}

@media (max-width: 1024px) {
  .contact {
    width: 25vw;
  }

  .contact-button {
    font-size: 1.6vw;
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 768px) {
  .card-title {
    font-size: 30px;
  }
  .card-subtitle {
    font-size: 21px;
  }
  .card-text {
    font-size: 16px;
  }
  .contact {
    width: 35vw;
  }
  .contact-button {
    width: 11vw;
    height: 11vw;
  }
}

@media (max-width: 625px) {
  .contact {
    width: 40vw;
    margin-top: 15vh;
  }

  .contact-button {
    font-size: 3vw;
    width: 14vw;
    height: 14vw;
  }
}
