@use "src/macchiato.scss";

:root {
  --global-font-size: 16px;
  --background-color: #{macchiato.$base} !important;
  --font-color: #{macchiato.$text} !important;
  --invert-font-color: #{macchiato.$crust} !important;
  --primary-color: #{macchiato.$sapphire} !important;
  --secondary-color: #{macchiato.$lavender} !important;
  --error-color: #{macchiato.$red} !important;
  --progress-bar-background: #{macchiato.$surface2} !important;
  --progress-bar-fill: #{macchiato.$teal} !important;
  --code-bg-color: #{macchiato.$surface1} !important;
}

body {
  padding: 0 1rem;
}

main {
  margin: auto;
  max-width: 1200px;
}

.photo {
  aspect-ratio: 1 / 1;
}

figure {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 1rem 0 0 !important;
}

.info {
  width: 100%;
}

.flex {
  display: flex;
}
h2 {
  margin-bottom: 0.75rem !important;
}
.projects {
  .flex {
    .terminal-card {
      margin: 0 0.5rem;
      header {
        h3 {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .projects {
    .flex {
      flex-direction: column;
      .terminal-card {
        margin: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    max-width: 500px;
  }
  .flex {
    flex-direction: column;
  }
  .info {
    width: 100%;
  }
  figure {
    margin: 0 !important;
  }
}
