* {
  box-sizing: border-box;
  font-family: 'FiraCode Nerd Font Mono';
  font-weight: normal;
  font-style: normal;
}

b {
  font-family: 'FiraCode Nerd Font Mono';
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}
