---
import Layout from "./Global.astro";
---
<Layout>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Graham's lil site</title>
	</head>
	<body>
		<slot />
	</body>
</Layout>
